/.idea
/.venv
/.vscode
/2023-12-06.csv
/combinedimg1_2.jpg
/dicandmethods.py
/face_recognition_models-master
/file1.pdf
/file2.pdf
/file3.pdf
/filehandling.py
/full-shot-astronaut-nature-collage.jpg
/functions.py
/ifelse.py
/ii-functions.py
/img1.png
/img2.png
/img_combiner
/img_resizer
/LambdaTest-random-generator.csv
/merged-pdf.pdf
/models
/modulesP.py
/my_image.png
/oops.py
/other.jpeg
/pdf_merger
/practice.py
/projects
/test.txt
/text-to-speech
/updated.png
/weather robot